@font-face {
    font-family: 'Cloude Regular 1.0';
    src: url('fonts/Cloude_Regular_102.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust:200%;
}

@font-face {
    font-family: 'Cloude Regular 1.0';
    src: url('fonts/Cloude_Regular_Bold_102.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    size-adjust:200%;
}

@font-face {
    font-family: 'typecast-italic';
    src: url('fonts/Typecast-Italic.ttf');
}

#chilllethr {
    background: linear-gradient(90deg, rgba(175,31,31,1) 0%, rgba(190,190,190,1) 100%);
    width:450px;
}
.chillletproduct{
    margin-top:-50px;
    width: 400px;
}
.chillletprice{
    margin-top:-70px;
    font-size:75px
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

#buttonbar{
    padding:5px 10px 10px 10px;
    min-width: 280px;
    order: 1;
}

#todolist{
    padding:5px 10px 10px 10px;
    min-width: 280px;
    order: 3;
}

#title {
    flex-grow: 2;
    order: 2;
    display: flex;
    justify-content: center;
}
#pickle{
    width:30px;
    height:30px;
    vertical-align: middle;
}
#titlewrapper {
    max-width: 800px;
    
}
#topleftarrow {
    padding:5px 10px 10px 10px;
    order:1;
}
.paraimage {
    float:right;
    height: 100px;
}  
.cloude {
    font-family: 'Cloude Regular 1.0', sans-serif;
}

#hotlinewebring{
    padding:5px 10px 10px 10px;
    bottom: 10px;
    left: 0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align: center;
}
#buttonbar h2 {
    text-align:left;
    font-size:25px;
    margin-left:10px;
}
#buttonbar hr {
    margin-left:5px;
    width:137px;
    margin-top:-15px;
}
.borderimg {
    border:2px;
    border-style:solid;
    border-color:white;
}
.borderimgblack {
    border:2px;
    border-style:solid;
    border-color:black;
}
.advert {
    background-color: #bebebe;
    line-height: 20px;
}
.sideeffects{
    text-align:center;
    font-size:15px;
    color:gray;
}
.album {
    max-width:150px;
    max-height:150px;
    min-width:30px;
    min-height:30px;
}
.chilllet {
    width:700px;
    margin:auto;
    order:2;
}
.musicbutton {
    width:100px;
    height:100px;
    position:fixed;
    padding: 5px 10px 10px 10px;
    bottom: 10px;
    right: 0;
}
.minusbutton {
    width:50px;
    height:50px;
    position:fixed;
    left:0;
    bottom:10px;
    padding-left: 20px;
}
.plusbutton {
    width:50px;
    height:50px;
    position:fixed;
    left:80px;
    bottom:10px;
}
.todobulletlist{
    margin-top:-20px;
}
.todoheader{
    text-align:right;
    font-size:25px;
    margin-right:10px;
}
.todobreak{
    margin-right:5px;
    width:275px;
    margin-top:-15px;
}
.tododiv{
    width: 250px;
    margin:auto;
}
.webringarrows{
    width:25px;
    height:25px;
    margin-bottom:-5px;
}
.webringtext{
    font-size:25px;
    color:white;
}
.fontsize30{
    font-size: 30px;
}
.fontsize20{
    font-size: 20px;
}
.fontsize15{
    font-size:15px;
}
.spinleft{
    margin-right:10px;
    height:55px;
}
.spinright{
    margin-left:10px;
    height:55px;
}
.centeralign{
    text-align:center;
}
.mybutton{
    margin:auto;
    margin-top:-20px;
}
.homegif{
    width:550px;
}
.aboutmegif{
    height:360px;
    width:640px
}
.red{
    color:red;
}
.white{
    color:white;
}
.whitebg{
    background-color: white;
}
.gray{
    color:gray;
}
.buttons{
    margin-left:10px;
    height:31px;
    width: 88px;
}
.aboutmeleftside{
    margin-top:45px;
}
.backarrow{
    width:40px;
}
.topmargin20{
    margin-top:-20px;
}
.topmargin15{
    margin-top:-15px;
}
.topmargin-10{
    margin-top:10px;
}
.automargin{
    margin:auto;
}
#dialogue{
    display: block;
}
.checkmark{
    width:20px;
    height:20px;
}
.box{
    width: 384px;
    height: 216px;
    left:0;
    right:0;
    position:absolute;
    margin:0 auto;
    border:black;
    display:none;
    justify-content: center;
    align-items: center;  
    border-width: 2px;
    border-style:ridge;
}
.boxtext{
    font-family: 'typecast-italic';
    font-size: 50px;
    color: black;
}
.toplayer{
    z-index:8;
}
.dialogueoptions{
    display: none;
}
.nameinputform{
    display: none;
    font-family: 'League Spartan', sans-serif;
    font-size:16px;
    font-weight: 400;
    color:rgb(0, 0, 0);
}
.kirbygif{
    width: 300px;
}
.pxegif{
    width:450px;
}
.amygdalagif{
    width: 600px;
}
.shroom{
    position: absolute;
    bottom:0;
    text-align: center;
}
.shroomgif{
    height:152px;
    width:fit-content;
}
.catgif{
    width:100px;
    position:absolute;
    padding:5px 10px 10px 10px;
    top: 10px;
    right: 0;
}
#mushroomgif2{
    display:none;
}