@font-face {
    font-family: 'Cloude Regular 1.0';
    src: url('fonts/Cloude_Regular_102.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust:200%;
}

@font-face {
    font-family: 'Cloude Regular 1.0';
    src: url('fonts/Cloude_Regular_Bold_102.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    size-adjust:200%;
}

p{
    font-family: 'League Spartan', sans-serif;
    font-size:20px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    text-align: left;
}

h1{
    font-size:55px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color:white;
    text-align: center;
}

hr {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
    margin-top:-20px;
    width: 550px;
    border-width: 0;
    height: 3px;
}

a { text-decoration:none; color:white;}
a:visited { text-decoration:none; color:white;}
a:hover { text-decoration:none; color:white;}
a:focus { text-decoration:none; color:white;}
a:active { text-decoration:none; color:white;}

#chilllethr {
    background: linear-gradient(90deg, rgba(175,31,31,1) 0%, rgba(190,190,190,1) 100%);
    width:450px;
}

h2{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color:white;
}
ul{
    font-family: 'League Spartan', sans-serif;
    font-size:20px;
    font-weight: 400;
    color:white;
    text-align: left;
}
li {
    font-family: 'League Spartan', sans-serif;
    font-size:20px;
    font-weight: 400;
    color:white;
    text-align: left;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#buttonbar{
    padding:5px 10px 10px 10px;
    min-width: 280px;
    order: 1;
}

#todolist{
    padding:5px 10px 10px 10px;
    min-width: 280px;
    order: 3;
}

#title {
    flex-grow: 2;
    order: 2;
    display: flex;
    justify-content: center;
}

#titlewrapper {
    max-width: 800px;
    
}
#topleftarrow {
    padding:5px 10px 10px 10px;
    order:1;
}
.paraimage {
    float:right;
    height: 100px;
}  
.cloude {
    font-family: 'Cloude Regular 1.0', sans-serif;
}

#hotlinewebring{
    padding:5px 10px 10px 10px;
    position: fixed;
    bottom: 10px;
    left: 0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align: center;
}
body {
    background-image: url("media/star.gif");
    background-color: black;
    line-height:20px;
}
#buttonbar h2 {
    text-align:left;
    font-size:25px;
    margin-left:10px;
}
#buttonbar hr {
    margin-left:5px;
    width:137px;
    margin-top:-15px;
}
.eventstart {
    
}
.borderimg {
    border:2px;
    border-style:solid;
    border-color:white;
}
.advert {
    background-color: #bebebe;
    line-height: 20px;
}
.sideeffects{
    text-align:center;
    font-size:15px;
    color:gray;
}
.album {
    max-width:150px;
    max-height:150px;
    min-width:30px;
    min-height:30px;
}
.chilllet {
    width:700px;
    margin:auto;
    order:2;
}
.musicbutton {
    max-width:100px;
    max-height:100px;
    position:fixed;
    padding:5px 10px 10px 10px;
    bottom: 10px;
    right: 0;
}
* {
    cursor: url('media/cursor.png'), auto;
}